# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
.vs/
*.bs
/RSPO/paket-files/
/.vscode/
/tmp
/RSPO/paket.local
*.aux
*.log
*.out
*.toc
*.thm
*.synctex.gz
*.pygtex
_minted-*/
/doc/matter/*
doc/auto/*
/doc/omegat/omegat/project_save.tmx.*.bak
/doc/omegat/omegat/project_save.tmx.bak

Paket dependency manager
.paket/
paket-files/

